.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  background-color: #f5deb3; /* light brown/sepia color */
}

.center-container {
  text-align: center;
}