.board-container {
    width: 33.33%;
    border: 2px solid black;  
    display: flex;
    flex-direction: column;
    padding: 3%;
    font-size: 70px;
    font-weight: bold;
  }

  .complete {
    align-items: center;
    justify-content: center;
  }

  .closed {
    background-color: dimgrey;
  }

  .board .board-row {
    height: 33.3%;
    display: flex;
  }
  
  .board {
    height: 100%;
  }
  
  /* Remove borders for edge boards */
  .board .board-row:first-child .square {
    border-top: none;
  }
  
  .board .board-row:last-child .square {
    border-bottom: none;
  }
  
  .board .board-row .square:first-child {
    border-left: none;
  }
  
  .board .board-row .square:last-child {
    border-right: none;
  }
  