.square {
    width: 33%;
    background-color: transparent;
    border: 1px solid black;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .square-button {
    width: 85%;
    height: 85%;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .square-button:hover {
    background-color: grey;
  }